@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    
    /* Paleta de cores */
    --cor0: #f0f8ff; /* Azul Claro (fundo principal) */
    --cor1: #e9ecef; /* Cinza Claro (secundário) */
    --cor2: #212529; /* Preto Suave (texto principal) */
    --cor3: #3b82f6; /* Azul Médio (links e destaques) */
    --cor4: #74c69d; /* Verde Suave (botões e ações positivas) */
    --cor5: #ffd43b; /* Amarelo Pastel (avisos e destaques) */
    --cor6: #ff6b6b; /* Vermelho Moderado (erros e alertas) */

    /* Fontes */
    --fonte-padrao: 'Roboto', Arial, sans-serif; /* Fonte fácil de ler */
    --fonte-destaque: 'Montserrat', sans-serif; /* Para títulos e elementos importantes */
    --fonte-escrita: 'Lora', serif; /* Fonte  para destaques ou citações */
}

* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    background-color: #f0f8ff; 
    height: 100vh;
    width: 100vw;
    color: #212529; 
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: auto;
    background-color: #e9ecef; 
    width: 80%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url('../imagens/blue.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

section#login > div#formulario {
    display: block;
    padding: 20px;
    background-color: #f0f8ff; 
    border-radius: 8px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #212529; 
}

div#formulario > p {
    font-size: 0.9em;
    color: #212529; 
}

form > div.campo {
    background-color: #74c69d; 
    border: 2px solid #74c69d;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 1.5em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #e9ecef; 
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #3b82f6; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #74c69d; 
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #e9ecef; 
    color: #212529; 
    border: 1px solid #3b82f6; 
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #74c69d; 
    color: white;
}

form > a.botao > i {
    font-size: 0.8em;
}
